.grid-item {
    border: 1px solid rgb(215, 210, 210);
    border-radius: 2%;
    box-shadow: 1px 3px 15px 1px rgba(234, 234, 234, 0.51);
    height: 300px;
    padding: 0;
    margin-bottom: 20px;
}

.grid-item img {
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
    padding: 20px 30px;
}